.cntdwn{
    border: 2px solid #990033;
    height: 100px;
    width: 500px;
    text-align: center;
    margin-top: 15%;
    margin-left: 30%;
    font-family: cursive;
    font-weight: strong;
    font-size: large;
}